@import '../../assets/variables.scss';


.album {
  width: 75%;
  margin: 0 auto;
}

.nav-and-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.more-info {
  display: flex;
  height: min-content;
}

.album-art {
  width: 10em;
}

.streaming-embed {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 10px;
  
}

.track-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: scroll;
  width: 100%;
  padding-left: 10px;
}

.track-row {
  display: flex;
  justify-content: space-between;
}

hr {
  opacity: .2;
}

.info-button, .selected-info-button, .close-button {
  background: none;
  color: $white; 
  border: none;
  font-weight: bold;
  font-size: 1.2em;
}

.selected-info-button {
  color: $gold;
}

.lyric-button, .close-button {
  font-size: .8em;
  color: $grayFour;
  border: solid 2px $grayThree;
  border-radius: 5px;
  margin-top: 5px;
}

.black-out {
  position: absolute;
  background: $black;
  top: 0;
  opacity: .7;
  width: 100%;
  height: 100%;
}

.lyric-sheet {
  // position: absolute;
  z-index: 1000;
  margin: 0 auto;
  padding: .5em;
  background: $grayFour;
  color: black;
  overflow: scroll;
  text-align: left;
  height: 30em;
  width: 20em;
}

.lyric-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.lyric-cta {
  color: $white;
}

.intentional-link {
  text-decoration: underline;
  color: $gold;
}

.contributor {
  font-style: italic;
  font-size: .8em;
}

.track-name {
  font-weight: bold;
}