@import '../../assets/variables.scss';

.event-card {
  width: 75%;
  margin: 2em auto;
  height: min-content;

  .event-line-one, .event-line-two {
    text-align: left;
    margin: 0;
    padding: .5em;
  }
  
  .event-line-one {
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
    background-color: $grayOne;
  }
  
  .event-line-two {
    font-weight: 400;
    background-color: $grayTwo;
    opacity: .75;
  }

}

.performers-list {
  font-size: .9em;
  margin: 0;
  padding: .5em;
  text-align: left;
  background-color: $grayOne;
}

.event-body {
  display: flex;
}

.event-text {
  // height: 100%;
  display: flex;
  flex-direction: column;
  padding: .5em;
}

.event-image {
  width: 20em;
}

.event-description {
  text-align: left;
  margin: 1em 0;
}

.cancelled {
  opacity: .6
}

.start-date {
  font-size: 1.2em;
}

.event-link, .ticket-link {
  background-color: $grayTwo;
  color: $white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: .5em;
  margin: .2em;
}

.ticket-link {
  background-color: $purple
}