@import '../../assets/variables.scss';

.banner-container {
  max-width: 100vw;
  height: 65vh;
  overflow: hidden;
  > img {
    margin-top: -8em;
    object-fit: cover;
    width: 100vw;
  }
}

.album-announcement {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.cta-text {
  > a {
    text-decoration: underline;

    &:hover {
      color: $gold;
    }
  }
}


.big-album-art {
  width: 25em;
  height: 25em;
}

@media only screen and (max-width: 816px) {
  .banner-container {
    padding: 6em 0;
    > img {
      margin-top: -4em;
      object-fit: cover;
      width: 100vw;
    }
  }
}

@media only screen and (max-width: 640px) {
  .banner-container {
    padding: 6em 0;
    height: min-content;
  }

  .big-album-art {
  width: 20em;
  height: 20em;
}

}
